* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #6c919953;
}

body a {
  color: #fff;
}

header {
  background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
}

.header_title {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding: 50px 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 400px) {
  .header_title {
    font-size: 45px;
    line-height: 1;
  }
}

header span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}

header p {
  padding-top: 30px;
}

img {
  width: 100%;
  border-radius: 10%;
}

.gallery {
  max-width: 980px;
  min-height: calc(100vh - 80px);
  display: grid;
  /* grid-template-columns: repeat(4, 1fr) 2fr 200px; */
  grid-template-rows: repeat(6, 1fr);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 10px;
  padding: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  .gallery {
    padding: 10px;
  }
}

.gallery__item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.gallery__image {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.gallery__item:nth-child(7) {
  grid-column: 6/-1;
  grid-row: 1/-1;
}

.gallery__item:nth-child(5) {
  grid-column: 4/6;
  grid-row: 4/-1;
}

.gallery__item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item:nth-child(3) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery__item:nth-child(2) {
  grid-column: 3/6;
  grid-row: span 3
}

.gallery__item:nth-child(4) {
  grid-column: 1/4;
  grid-row: span 2;

}

.gallery__item:nth-child(6) {
  grid-column: 3;
  grid-row: 4;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 10px 35px;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  gap: 15px;
}

@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
}

.about-img {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 400px) {
  .about-img {
    width: 300px;
    height: 300px;
  }
}

.about_description {
  font-size: 22px;
  letter-spacing: 1px;
}

.about-box {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  gap: 30px;
}

.about_info {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 1.8;
  white-space: pre-line;
}

.create-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.create-item {
  max-width: 300px;
  min-height: 300px;
  list-style: none;
  color: #6e6e6e;
  background-color: #fff;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding: 10px;
}

.create-text {
  white-space: pre-line;
}

.space_title_text {
  top: 0;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: solid;
  margin: 50px;
  font-style: normal;
  font-weight: 400;
  overflow: hidden;
  color: #fff;
}

.space_title h2 {
  display: inline-block;
  vertical-align: middle;
}

.space_title:before,
.space_title:after {
  /* Обязательно указываем пустое свойство content,
    ** иначе псевдоэлементы не появятся на сайте */
  content: "";
  /* Указываем что наши линии будут строчно-блочные и
    ** выравнивание по высоте - по центру */
  display: inline-block;
  vertical-align: middle;
  /* Задаем ширину  и выбираем высоту линии,
    */
  width: 30px;
  height: 1px;
  /* Добавляем цвет для линии */
  background-color: #ffffff;
  /* Добавляем пседоэлемантам возможность изменить
    ** позицию линии, для создания отступов от текста */
  position: relative;
}

.space_title:before {
  /* Смещаем левую линию на 100% влево, чтобы линия
    ** встала рядом с текстом слева */
  margin-left: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  left: -14px;
}

.space_title:after {
  /* Смещаем правую линию на 100% вправо, чтобы
    ** линия встала рядом с текстом справа */
  margin-right: -100%;
  /* Указываем в пикселях отступ линии от текста заголовка */
  right: -14px;
}